@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudBadge Content="30" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                    <MudMenu Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit">
                        <ActivatorContent>
                            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                        </ActivatorContent>
                    </MudMenu>
                </MudBadge>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"></MudIconButton>
            </MudAppBar>
            <MudDrawer @bind-Open="@_open" Breakpoint="Breakpoint.Lg" Elevation="1" Anchor="Anchor.End" Variant="@DrawerVariant.Responsive">
                <MudDrawerHeader>
                    <MudStack Row>
                        <MudAvatar>
                            @if (_appStateService.CurrentUser.ProfileInformation?.Photo is null)
                            {
                                <span>@(string.IsNullOrEmpty(_appStateService.CurrentUser.ProfileInformation?.FullName) ? _appStateService.CurrentUser.Name.GetInitials() : _appStateService.CurrentUser.ProfileInformation?.FullName.GetInitials())</span>
                            } else
                            {
                                <MudImage Src="@_appStateService.CurrentUser.ProfileInformation?.Photo"></MudImage>
                            }
                        </MudAvatar>
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.caption">@(string.IsNullOrEmpty(_appStateService.CurrentUser.ProfileInformation?.FullName) ? _appStateService.CurrentUser.Name : _appStateService.CurrentUser.ProfileInformation?.FullName)</MudText>
                            <small style="color: blue;">@_appStateService.CurrentUser.ProfileInformation?.MyOrganization?.OrganizationName</small>
                        </div>
                    </MudStack>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Match="NavLinkMatch.All" Href="/profile" Icon="@Icons.Material.Filled.Person">Profile</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Warehouse">Department</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Password">Change Password</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.EditNotifications">Notification Settings</MudNavLink>
                    <MudNavLink OnClick="RequestPage" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SendTimeExtension">Request Admin Page</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Logout" OnClick="Logout">Logout</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <MudMainContent>
                <MudContainer Class="mt-1 pa-0">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <div class="login">
            @if(!_isRegister)
            {
                <LoginComponent OnRegisterClick="ToggleRegister"></LoginComponent>
            } else
            {
                <RegisterComponent OnBack="ToggleRegister"></RegisterComponent>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    private bool _isRegister, _open;

    private void ToggleRegister() => _isRegister = !_isRegister;

    private void ToggleDrawer() => _open = !_open;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _notifierLayoutService.OnChanged += HandleChange;
    }


    private async Task Logout()
    {
        await _localStorage.RemoveItemAsync("token");

        ((CustomAuthenticationState)_authenticationStateProvider).NotifyUserLogout();

        _navigationManager.NavigateTo("/", true);
    }

    private void HandleChange()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _notifierLayoutService.OnChanged -= HandleChange;
    }

    private async Task RequestPage()
    {
        AdminPageRequestModel requestModel = new();

        requestModel.MyOrganizationId = _appStateService.CurrentUser.ProfileInformation?.MyOrganizationId;
        requestModel.MyOrganization = _appStateService.CurrentUser.ProfileInformation?.MyOrganization;
        requestModel.Id = _appStateService.CurrentUser.Id;
        requestModel.User = _appStateService.CurrentUser;

        var dialog = await _dialogService.ShowAsync<ConfirmDialog>("Request Admin Page", 
        new DialogParameters
        {
            { "Description", "Are you sure you want to request an admin page for your organization?" }
        }); 
        var result = await dialog.Result;

        if(result is not null)
            if(!result.Canceled)
            {
                await _pageRequestService.CreatePageRequestAsync(requestModel);

                _snackBar.Add("Your request has been submitted successfully.", Severity.Success);
            }
    }
}