@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />


<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar Elevation="1">
                <MudBadge Content="30" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                    <MudMenu Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit">
                        <ActivatorContent>
                            <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                        </ActivatorContent>
                    </MudMenu>
                </MudBadge>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"></MudIconButton>
            </MudAppBar>
            <MudDrawer @bind-Open="@_open" Breakpoint="Breakpoint.Lg" Elevation="1" Anchor="Anchor.End" Variant="@DrawerVariant.Responsive">
                <MudDrawerHeader>
                    <MudStack Row>
                        <MudAvatar>
                            CM
                            @* <MudImage Src="images/mony.jpg"></MudImage> *@
                        </MudAvatar>
                        <div class="d-flex flex-column">
                            <MudText Typo="Typo.caption">Cyrille Con Morales</MudText>
                            <small style="color: blue;">My Department</small>
                        </div>
                    </MudStack>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Match="NavLinkMatch.All" Href="/profile" Icon="@Icons.Material.Filled.Person">Profile</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Warehouse">Department</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Password">Change Password</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.EditNotifications">Notification Settings</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Logout" OnClick="Logout">Logout</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <MudMainContent>
                <MudContainer Class="mt-1">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <div class="login">
            @if(!_isRegister)
            {
                <LoginComponent OnRegisterClick="ToggleRegister"></LoginComponent>
            } else
            {
                <RegisterComponent OnBack="ToggleRegister"></RegisterComponent>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool _isRegister, _open;

    private void ToggleRegister() => _isRegister = !_isRegister;

    private void ToggleDrawer() => _open = !_open;

    private async Task Logout()
    {
        await _localStorage.RemoveItemAsync("token");

        ((CustomAuthenticationState)_authenticationStateProvider).NotifyUserLogout();

        _navigationManager.NavigateTo("/", true);
    }
}