@using CamCon.Shared.Extensions
@using Domain.Models
@using Service
@using Service.Interfaces
@using System.Text.Json

<MudPaper Elevation="0" Class="@(Comment.ParentCommentId is null ? "px - 2 py - 1" : "")">
    <MudStack Row>
        <MudAvatar Size="Size.Medium" Class="mt-1">
            @if (User?.ProfileInformation?.Photo is null)
            {
                <span>@(string.IsNullOrEmpty(User?.ProfileInformation?.FullName) ? User?.Name.GetInitials() : User.ProfileInformation?.FullName.GetInitials())</span>
            }
            else
            {
                <MudImage Src="@User.ProfileInformation?.Photo"></MudImage>
            }
        </MudAvatar>
        <MudPaper Class="pa-2 comment-container" Elevation="0">
            <MudStack Spacing="0">
                <MudText Typo="Typo.caption">
                    
                        @if (User is null)
                        {
                            <strong>...</strong>
                        }
                        else
                        {
                        <strong>
                            @(string.IsNullOrEmpty(User?.ProfileInformation?.FullName) ? User?.Name : User.ProfileInformation?.FullName)
                        </strong>
                        }
                       
                    </MudText>
                @if (Comment.IsFlagged || Comment.IsDeleted)
                {
                    @if(Comment.IsFlagged)
                    {
                        <span style="font-size: 12px; color: red;">Comment has been flagged.</span>
                    }
                    @if(Comment.IsDeleted)
                    {
                        <span style="font-size: 12px;color: red;">Comment has been deleted.</span>
                    }
                } else {
                    <span style="font-size: 12px;">@Comment.Message</span>
                }
            </MudStack>
            
        </MudPaper>
    </MudStack>
    <MudStack Justify="Justify.FlexEnd" Spacing="0" Row>

        @if (!Comment.IsFlagged && !Comment.IsDeleted)
        {
            @if (IsAdmin)
            {
                <MudButton Variant="Variant.Text" OnClick="() => Flagged(Comment.NewsFeedCommentId)" Size="Size.Small">
                    <MudText Typo="Typo.caption">Flag</MudText>
                </MudButton>
            }
            @if (Comment.Id == AppStateService.CurrentUser?.Id)
            {
                <MudButton Variant="Variant.Text" OnClick="() => Delete(Comment.NewsFeedCommentId)" Size="Size.Small">
                    <MudText Typo="Typo.caption">Delete</MudText>
                </MudButton>
            }
            <MudButton Variant="Variant.Text" OnClick="Reply" Size="Size.Small">
                <MudText Typo="Typo.caption">Reply</MudText>
            </MudButton>
        } else
        {
            <div style="height: 30px;"></div>
        }
    </MudStack>

    @{
        var replies = AllComments
        .Where(c => c.ParentCommentId == Comment.NewsFeedCommentId)
        .OrderByDescending(c => c.CreatedAt)
        .ToList();

    }


    <MudStack Spacing="1" Class="nested-replies" StretchItems="StretchItems.All">
        @foreach (var reply in replies)
        {
            <div class="reply-indent">
                <CommentComponent @key="reply.NewsFeedCommentId"
                                  User="reply.User"
                                  Comment="reply"
                                  AllComments="AllComments"
                                  OnReplyClick="OnReplyClick"
                                  IsAdmin=@IsAdmin>
                </CommentComponent>
            </div>
        }
    </MudStack>

</MudPaper>

@code {
    [Inject] IUserService UserService { get; set; } = null!;

    [Inject] ICommentService CommentService { get; set; } = null!;

    [Inject] AppStateService AppStateService { get; set; } = null!;

    [Parameter] public NewsFeedCommentModel Comment { get; set; } = new();

    [Parameter] public List<NewsFeedCommentModel> AllComments { get; set; } = new();

    [Parameter] public EventCallback<(Guid, string?)> OnReplyClick { get; set; }

    [Parameter] public bool IsAdmin { get; set; } = false;

    [Parameter] public ApplicationUserModel? User { get; set; }

    private string? _previousCommentId;

    private string? _loadedUserId;

    private async Task Reply()
    {
        await OnReplyClick.InvokeAsync((Comment.NewsFeedCommentId, User?.ProfileInformation is null? User?.Name : User.ProfileInformation.FullName));
    }

    private async Task Delete(Guid guid)
    {
        Comment = await CommentService.DeleteComment(guid);
    }

    private async Task Flagged(Guid guid)
    {
        Comment = await CommentService.FlaggedComment(guid);
    }
}

<style>
    .comment-container {
        background-color: #f1ebff;
        width: 100%;
        min-height: 70px;
    }

    .comment-container:hover {
            background-color: #eeeff4;
    }

 

    .nested-replies {
        margin-left: 24px;
        padding-left: 12px;
        border-left: 2px solid #e0e0e0;
    }
</style>