@using Domain
@using Domain.Models
@using Service.Interfaces

<MudDataGrid Class="mt-1" T="NewsFeedModel" VirtualizeServerData="GetPosts" Virtualize Filterable FixedHeader Height="calc(100vh - 120px)" OverscanCount="2" ItemSize="39f">

    <Columns>
        <TemplateColumn>
            <CellTemplate>
                <MudStack Style="width: 100%;">
                    <MudPaper Elevation="2" Class="pa-1">
                        <MudStack AlignItems="AlignItems.Center" Row>
                            <MudAvatar Size="Size.Medium" Class="profile position-relative" Variant="Variant.Filled" Style="border : 1px solid #d3d3d3;">
                                <MudImage Src="@context.Item.MyOrganization?.ProfilePicture"></MudImage>
                            </MudAvatar>
                            <MudStack Class="gap-0 pa-0" Spacing="0">
                                <MudText Typo="Typo.caption"><b>@context.Item.MyOrganization?.OrganizationName</b></MudText>
                                <small>@context.Item.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</small>
                            </MudStack>
                        </MudStack>
                        <MudText Typo="Typo.body2" Class="mb-3">
                            @context.Item.Message
                        </MudText>
                        @if (context.Item.Images != null && context.Item.Images.Any())                         
                        { 
                            <FeedImageGallery Images="@context.Item.Images" />                         
                        }


                        <MudDivider Class="my-2" />
                        <MudStack Justify="Justify.SpaceAround" Row>
                            <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                                       Variant="Variant.Text"
                                       Size="Size.Small"
                                       Color="Color.Default">
                                Like
                            </MudButton>
                            <MudButton StartIcon="@Icons.Material.Filled.Comment"
                                       OnClick="()=> _openComments = !_openComments"
                                       Variant="Variant.Text"
                                       Size="Size.Small"
                                       Color="Color.Default">
                                Comment
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <RowLoadingContent>
        <td colspan="1" class="d-flex justify-center row-loading" style="height: 39px;">
            <MudProgressCircular Size="Size.Small" Color="Color.Primary" Indeterminate></MudProgressCircular>
        </td>
    </RowLoadingContent>

</MudDataGrid>

<MudDrawer Class="comment-drawer" @bind-Open="@_openComments" Height="70vh" Anchor="@Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
   <MudStack AlignItems="AlignItems.Center">
        <MudButton OnClick="() => _openComments = !_openComments" Class="comment-btn" Color="Color.Primary" Variant="Variant.Filled"></MudButton>
   </MudStack>
   <MudPaper Class="absolute comment-input px-2" Square Elevation="0">
        <MudTextField @ref="commentRef" @bind-Value="_comment" Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="Type your comment here"></MudTextField>
   </MudPaper>
</MudDrawer>

<MudOverlay @bind-Visible="_openComments" LockScroll></MudOverlay>
@code {
    [Parameter] public Guid? OrganiationId { get; set; }
    [Parameter] public INewsFeedService NewsFeedService { get; set; } = null!;

    private bool _openComments;
    private string _comment = string.Empty;
    private MudTextField<string>? commentRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        commentRef?.FocusAsync();
    }

    private async Task<GridData<NewsFeedModel>> GetPosts(GridStateVirtualize<NewsFeedModel> gridState, CancellationToken token)
    {
        try
        {
            var result = await NewsFeedService.GetNewsFeeds(new PaginationRequestModel
            {
                Count = gridState.Count,
                StartIndex = gridState.StartIndex,
            });

            return new GridData<NewsFeedModel>
            {
                Items = result?.Records?? [],
                TotalItems = result?.Count?? 0
            };
        }
        catch (TaskCanceledException)
        {
            return new GridData<NewsFeedModel>
            {
                Items = [],
                TotalItems = 0
            };
        }
    }
}

<style>
    .mud-table-cell {
        padding: 4px !important;
    }

    .mud-table-cell:before {
        padding: unset !important;
    }

    .comment-drawer {
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        padding: 8px;
    
    }
    .comment-btn {
        padding: unset !important;
        height: 6px !important;
        width: 20%;
    }

    .comment-input {
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
    }

    td.row-loading:nth-of-type(n+2),
    td:has(td.row-loading:nth-of-type(n+2)) {
        display: none !important;
    }

</style>