@using Domain
@using Domain.Models
@using Service
@using Service.Interfaces
@using Shared.Component.Extensions

<MudDataGrid Class="mt-1" T="NewsFeedModel" Items="filterPost" Virtualize>

    <Columns>
        <TemplateColumn>
            <CellTemplate>
                <MudStack Style="width: 100%;">
                    <MudPaper Elevation="2" Class="pa-1">
                        <MudStack AlignItems="AlignItems.Center" Row>
                            <MudAvatar Size="Size.Medium" Class="profile position-relative" Variant="Variant.Filled" Style="border : 1px solid #d3d3d3;">
                                <MudImage Src="@context.Item.MyOrganization?.ProfilePicture"></MudImage>
                            </MudAvatar>
                            <MudStack Class="gap-0 pa-0" Spacing="0">
                                <MudText Typo="Typo.caption"><b>@context.Item.MyOrganization?.OrganizationName</b></MudText>
                                <small>@context.Item.CreatedAt.ToString("MM/dd/yyyy hh:mm tt")</small>
                            </MudStack>
                        </MudStack>
                        <MudStack>

                            <MudText Typo="Typo.body2" Class="mb-3">
                                @context.Item.Message
                            </MudText>

                            @if (context.Item.Images != null && context.Item.Images.Any())                         
                            { 
                                <FeedImageGallery Images="@context.Item.Images" />                         
                            }

                            <MudStack Justify="Justify.SpaceBetween" Row>
                                <div>
                                    @if (context.Item.Likes is not null) {
                                   
                                        var reactions = context.Item.Likes;

                                        foreach(var item in reactions.DistinctBy(c => c.LikeType).Take(3)?? [])
                                        {
                                            <span class="display-reaction">@item.LikeType.ToEmoji()</span>
                                        }

                                        <span style="font-size: 14px;">  @(reactions.Count == 0 ? "" : reactions.Count)</span>
                                    }
                                </div>
                                <div>
                                    @if(context.Item.Comments is not null)
                                    {
                                        <spanstyle style="font-size: 14px;">@context.Item.Comments.Count Comments</spanstyle>
                                        
                                    }
                                    
                                </div>
                            </MudStack>
                        </MudStack>

                        <MudDivider Class="my-2" />
                        <MudStack Justify="Justify.SpaceAround" Row>
                            <MudMenu @bind-Open="context.Item.openEmoji" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.BottomCenter">
                                    <ActivatorContent>
                                    
                                    @if(context.Item.Likes is not null )
                                    {
                                        @if(context.Item.Likes.Any(l => l.UserId == appStateService.CurrentUser.Id))
                                        {
                                            <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                                                       Variant="Variant.Text"
                                                       Size="Size.Small"
                                                       Color="Color.Primary">Like</MudButton>
                                        }
                                        else
                                        {
                                                <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                                                           Variant="Variant.Text"
                                                           Size="Size.Small"
                                                           Color="Color.Default">Like</MudButton>
                                        }
                                    }
                                    else
                                    {
                                        <MudButton StartIcon="@Icons.Material.Filled.ThumbUp"
                                                   Variant="Variant.Text"
                                                   Size="Size.Small"
                                                   Color="Color.Default">Like</MudButton>
                                    }
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MudStack Class="pa-2" Row>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Like, context.Item)">👍</span>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Heart, context.Item)">❤️</span>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Funny, context.Item)">😆</span>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Wow, context.Item)">😮</span>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Cry, context.Item)">😢</span>
                                            <span class="reaction" @onclick="() => HandleLike(Enums.LikeType.Angry, context.Item)">😠</span>
                                        </MudStack>
                                    </ChildContent>
                                </MudMenu>
                            <MudButton StartIcon="@Icons.Material.Filled.Comment"
                                       OnClick="()=> OpenComment(context.Item)"
                                       Variant="Variant.Text"
                                       Size="Size.Small"
                                       Color="Color.Default">
                                Comment
                            </MudButton>
                        </MudStack>
                    </MudPaper>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
        
    <RowLoadingContent>
        <td colspan="1" class="d-flex justify-center row-loading" style="height: 39px;">
            <MudProgressCircular Size="Size.Small" Color="Color.Primary" Indeterminate></MudProgressCircular>
        </td>
    </RowLoadingContent>

</MudDataGrid>

<MudDrawer Class="comment-drawer" @bind-Open="@_openComments" Height="70vh" Anchor="@Anchor.Bottom" Elevation="1" Variant="@DrawerVariant.Temporary">
   <MudStack AlignItems="AlignItems.Center" Class="mb-3">
        <MudButton OnClick="() => _openComments = !_openComments" Class="comment-btn" Color="Color.Primary" Variant="Variant.Filled"></MudButton> 
   </MudStack>
    @foreach (var comment in listComments.Where( c => c.ParentCommentId is null))
    {
        <MudStack Spacing="0" StretchItems="StretchItems.All">
            <CommentComponent @key="comment.NewsFeedCommentId" User="comment.User" Comment="comment" OnReplyClick="(e) => Reply(e.Item1, e.Item2)" AllComments="listComments"></CommentComponent>
        </MudStack>
    }
    @if(_openComments) {
       <MudPaper Class="position-absolute d-flex flex-column justiy-content-end comment-input px-2" Square Elevation="1">
            <div style="position:relative;">
                @if (!string.IsNullOrEmpty(replyTo))
                {
                    <MudChip T="string" Color="Color.Primary"
                             Variant="Variant.Filled"
                             OnClose="ResetComment"
                             Size="Size.Small"
                             Style="position:absolute; left:0px; top:43%; transform:translateY(-50%); z-index:10;">
                        Replying to @replyTo
                    </MudChip>
                }

                <MudTextField @ref="_commentRef"
                              @bind-Value="_comment"
                              Placeholder="Type your comment here"
                              Margin="Margin.Dense"
                              Variant="Variant.Outlined"
                              Class="@(string.IsNullOrEmpty(replyTo) ? string.Empty : "chip-input-padding")"
                              Clearable
                              Lines="0"
                              MaxLines="4" />
            </div>
            <MudStack AlignItems="AlignItems.End" Style="width: 100%">
                <MudButton OnClick="AddComment" Size="Size.Small" Variant="Variant.Text">Send</MudButton>
           </MudStack>
        
       </MudPaper>
   }
</MudDrawer>

<MudOverlay @bind-Visible="_openComments" LockScroll></MudOverlay>
@code {
    [Inject] AppStateService appStateService { get; set; } = null!;
    [Inject] ICommentService commentService { get; set; } = null!;
    [Inject] IUserService UserService { get; set; } = null!;

    [Parameter] public Guid? OrganiationId { get; set; }
    [Parameter] public INewsFeedService NewsFeedService { get; set; } = null!;

    private bool _openComments;
    private string _comment = string.Empty;
    private MudTextField<string>? _commentRef;
    private NewsFeedCommentModel _newsFeedCommentModel = new();
    private Guid _newsFeedId;
    private Guid? _commentParentId;
    private List<NewsFeedCommentModel> listComments = new();
    private List<NewsFeedModel> _lisPost = new();
    private List<NewsFeedModel> filterPost = new();

    private string replyTo = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        _commentRef?.FocusAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var result = await NewsFeedService.GetNewsFeeds(new PaginationRequestModel
        {
            Count = 100,
            StartIndex = 0,
        });

        filterPost = _lisPost = result.Records ?? [];
    }

    public void filterPostsByOrganization(Guid? organizationId, bool? loadAll = false)
    {
        if(loadAll?? false)
            filterPost = _lisPost;
        else
            filterPost = _lisPost.Where(p => p.MyOrganization?.MyOrganizationId == organizationId).ToList();

    }

    private async Task<GridData<NewsFeedModel>> GetPosts(GridStateVirtualize<NewsFeedModel> gridState, CancellationToken token)
    {
        try
        {
            var result = await NewsFeedService.GetNewsFeeds(new PaginationRequestModel
            {
                Count = gridState.Count,
                StartIndex = gridState.StartIndex,
            });

            return new GridData<NewsFeedModel>
            {
                Items = result?.Records?? [],
                TotalItems = result?.Count?? 0
            };
        }
        catch (TaskCanceledException)
        {
            return new GridData<NewsFeedModel>
            {
                Items = [],
                TotalItems = 0
            };
        }
    }

    private async Task HandleLike(Enums.LikeType likeType, NewsFeedModel model)
    {
        LikeModel like = new LikeModel
        {
            LikeType = likeType,
            UserId = appStateService.CurrentUser.Id,
            NewsFeedId = model.NewsFeedId,
            Emoji = likeType.ToEmoji()
        };

        var result = await NewsFeedService.UpdateLike(like);

        if(result.LikeId == new Guid()) {

            model.Likes?.RemoveAll( l => l.Emoji == result.Emoji);

            model.openEmoji = false;

            StateHasChanged();

            return;
        }

        model.Likes ??= [];

        var current = model.Likes.FirstOrDefault(c => c.LikeId == result.LikeId);

        if (current is not null)
            model.Likes.Remove(current);

        model.Likes.Add(result);

        model.openEmoji = false;

        StateHasChanged();
    }

    private async Task OpenComment(NewsFeedModel model)
    {
        _openComments = !_openComments;
        _newsFeedId = model.NewsFeedId;

        listComments = await commentService.GetCommentsByNewsFeedIdAsync(model.NewsFeedId);

        foreach (var comment in listComments)
        {
            comment.User = await UserService.GetUserById(comment.Id);
        }
    }

    private void Reply(Guid? parentGuid, string? replyto)
    {
        _commentParentId = parentGuid;

        replyTo = replyto?? string.Empty;
    }

    private async Task AddComment()
    {
        if(string.IsNullOrWhiteSpace(_comment))
            return;

        _newsFeedCommentModel.Id = appStateService.CurrentUser.Id;
        _newsFeedCommentModel.Message = _comment;
        _newsFeedCommentModel.ParentCommentId = _commentParentId;
        _newsFeedCommentModel.NewsFeedId = _newsFeedId;

        var result = await commentService.AddCommentAsync(_newsFeedCommentModel);

        result.User = await UserService.GetUserById(result.Id);

        listComments.Add(result);

        //Reset
        ResetComment();

    }

    private void ResetComment()
    {
        _comment = string.Empty;
        _newsFeedCommentModel = new();
        _commentParentId = null;
        replyTo = string.Empty;
    }
}

<style>
    .mud-table-cell {
        padding: 4px !important;
    }

    .mud-table-cell:before {
        padding: unset !important;
    }

    .comment-drawer {
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
        padding: 8px;
    
    }
    .comment-btn {
        padding: unset !important;
        height: 6px !important;
        width: 20%;
    }

    .comment-input {
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
    }

    td.row-loading:nth-of-type(n+2),
    td:has(td.row-loading:nth-of-type(n+2)) {
        display: none !important;
    }

    .reaction {
        cursor: pointer;
        font-size: 20px;
    }

        .reaction:hover {
            transform: scale(1.2);
        }

    .display-reaction:nth-of-type(n+2) {
        margin-left: -8px;
    }

    .chip-input-padding input {
        padding-left: 150px !important; /* Adjust based on chip width */
    }

    .comment-input-wrapper {
        flex-shrink: 0;
        padding: 12px;
        background-color: #fff;
        border-top: 1px solid #e0e0e0;
        position: relative;
        z-index: 20;
        width: 100%;
        box-sizing: border-box;
    }

    .sticky-bottom {
        position: sticky;
        bottom: env(safe-area-inset-bottom, 0);
        background: white;
        z-index: 9999;
        /* Optional: Add spacing when keyboard appears */
        padding-bottom: env(safe-area-inset-bottom, 0);
    }
</style>